<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>

    
    
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="profile.css">
  </head>

  <body>

    

    <div class="main_box">
      <input type="checkbox" id="check" />
      <div class="btn_one">
        <label for="check">
          <i class="material-symbols-outlined">menu</i>
        </label>
      </div>

      <div class="sidebar_menu">
        <div class="logo">
          <a href="#">ParentConnect</a>
        </div>

        <div class="btn_two">
          <label for="check" style="color: grey">
            <i class="fa-solid fa-xmark"></i>
            
          </label>
        </div>

        <div class="menu">
          <ul>
            <li>
              <span class="material-symbols-outlined">punch_clock</span>
              <a href="#">Attendence</a>
            </li>
            <li>
              <span class="material-symbols-outlined">
                open_in_new
                </span>
              <a href="#">Exam Result</a>
            </li>
            <li>
              <span class="material-symbols-outlined">
                calendar_month
                </span>
              <a href="#">Academic Calender</a>
            </li>
            <li>
              
                <span class="material-symbols-outlined">assignment</span>
              <a href="#">Notices</a>
            </li>
            
            <li>
              <span class="material-symbols-outlined">
                call
                </span>
              <a href="#">Contact Mentor</a>
            </li>
            
          </ul>
        </div>

        
      </div>
    </div>
  </body>
</html>
