<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/teacherlogin.css">
</head>
<body>
    <div class="container">
  <div class="login-box">
    <h3>Teacher Login</h3>
    <form action="/auth/teacherlogin" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" placeholder="Enter username" required>

      <label for="password">Password</label>
      <input id="password" name="password" type="password" placeholder="Enter password" required>

      <button type="submit">Login</button>
    </form>

    {{#if message}}
      <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}
  </div>
</div>

</body>
</html>