<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>All Notices</h2>
<ul>
  {{#each notices}}
    <li>
      <a href="/{{this.file_path}}" target="_blank">{{this.title}}</a> - {{this.upload_date}}
    </li>
  {{/each}}
</ul>

</body>
</html>