<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/uploadnotice.css">
</head>
<body>
    <h2>Upload Notice</h2>
<form action="/teacher/upload-notice" method="POST" enctype="multipart/form-data">
  <label>Title:</label>
  <input type="text" name="title" required><br><br>

  <label>Date:</label>
  <input type="date" name="upload_date" required><br><br>

  <label>Notice PDF:</label>
  <input type="file" name="notice_pdf" accept="application/pdf" required><br><br>

  <button type="submit">Upload Notice</button>
</form>

</body>
</html>